#root {
  /* Layout */
  position: relative;
  
  /* Box model */
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8px;
  min-height: calc(100vh - 60px); /* Account for fixed header */
}

nav > a {
  /* Box model */
  padding-left: 10px;
}

nav > a.active {
  /* Colors */
  color: white;
}

.logo {
  /* Box model */
  height: 96px;
  padding: 24px;
  
  /* Animation */
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  /* Visual */
  filter: drop-shadow(0 0 32px #646cffaa);
}

.logo.react:hover {
  /* Visual */
  filter: drop-shadow(0 0 32px #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    /* Animation */
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /* Box model */
  padding: 32px;
}

.read-the-docs {
  /* Colors */
  color: #888;
}
