#root {
  /* Layout */
  position: relative;
  
  /* Box model */
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--space-sm);
  min-height: calc(100vh - 60px); /* Account for fixed header */
}

nav > a {
  /* Box model */
  padding-left: var(--space-sm);
}

nav > a.active {
  /* Colors */
  color: var(--color-text-primary);
}

.logo {
  /* Box model */
  height: 96px;
  padding: var(--space-md);
  
  /* Animation */
  will-change: filter;
  transition: filter var(--transition-speed-medium);
}

.logo:hover {
  /* Visual */
  filter: drop-shadow(0 0 32px rgba(100, 108, 255, 0.67));
}

.logo.react:hover {
  /* Visual */
  filter: drop-shadow(0 0 32px rgba(97, 218, 251, 0.67));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    /* Animation */
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  /* Box model */
  padding: var(--space-xl);
}

.read-the-docs {
  /* Colors */
  color: var(--color-text-secondary);
}
